.card-img-top {
    object-fit: cover;
    height: 180px;
  }
  
  /* Botón de edición */
  .btn-edit {
    background-color: #3b3b3b;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-edit:hover {
    background-color: #1f1f1f;
  }
  
  /* Botón de eliminar */
  .btn-delete {
    background-color: #ff3d3d;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-delete:hover {
    background-color: #e63434;
  }
  
  /* Fondo general */
  body {
    background-color: #f8f9fa;
  }
  